.wrapper{ 
width:600px;
background:#eee;
margin: 0 auto 0 auto;
}
.heading{
height:100px;
background:red;
padding:20px;
text-align:center;
}
.content{
min-height:400px;
background:yellow;
width :400px;
float:right;
text-align:center;
}
.sidebar{
height:400px;
width:200px;
float:left;
background:lightgreen;
min-height:400px;
text align:center;
}
.footer{
min-height:400;
background:pink;
}


















